@charset "utf8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: sans-serif;
    background-color: #F7F7F7;
    display: grid; /*Trnasfprma o body em grid*/
    gap: 60px; /*Adiciona o espaçamento entre todos os elementos do body*/
    justify-items: center; /*Alinha todos os items ao centro do body*/
    margin-top: 60px;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.2rem;
    line-height: 1.3;
}

/* MENU */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;
}

.menu a {
    border: 2px solid transparent;
    background-color: #FFF;
    padding: 15px 20px;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
}

.menu a:hover {
    border: 2px solid #E21;
}

/* CONTEÚDO */

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr; /*divide em suas colunas iguais em tamanho*/
    max-width: 1000px; /*O limite máximo do conteúdo é de 100px, não passará disso*/
    /* Com a configuração do body para alinhar os items ao centro, quando a tela for maior
    do que 1000px o conteúdo será centralizado na tela, expandindo-se somente o espaçamento fora do conteúdo */
}

.introducao {
    background-color: #FFF;
    padding: 40px;
    text-align: right;
    position: relative;
    display: grid;
    align-content: center; /*Alinha os itens ao centro no eixo y*/
    justify-items: end; /*Os itens serão posicionados ao final e não ocupar o espaço todo como o padrão*/
    gap: 20px; /*Espaçamento entre os itens*/
}

h1::before{
    content: "";
    display: block;
    position: absolute; /*Posição absoluta  dentro da 'introducao'*/
    width: 50px;
    height: 4px;
    background-color: #A21;
    top: 20px;
    right: -25px;
}

.detalhe {
    width: 60px;
    height: 4px;
    background-color: #EE2211;
    position: absolute; /*Position absoluta dentro da div introdução*/
    top: 30px; /*Epaçamento dentro da div introdução*/
    right: -30px; /*Epaçamento dentro da div introdução*/
}

.botao-ver-mais {
    background-color: #EE2211;
    color: #FFF;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    display: inline-block;
}

.botao-ver-mais:hover {
    background-color: #900;
    transition: .3s;
}

.subtitulo {
    font-size: 64px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .2);
    text-align: right;
    padding: 40px;
    align-self: center; /*Alinhar um único item no grid*/
}

.vantagens {
    background-color: #FFF;
    padding: 40px;
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    /* O primeiro elemento é uma imagem pequena (ícone), para o tamanho da coluna ser o tamanho do elemento coloca-se 'auto', a segunda coluna fica com o tamanho que 'sobrar' da linha */
    gap: 10px 20px; /* Distância entre as linhas: 10px, distância entre as colunas: 20px*/
    padding: 20px;
}

.vantagens-item p {
    /* Para o P ocupar a segunda coluna e não gerar uma nova linha */
    grid-column: 2; /* Ocupará a segunda coluna*/
}

footer {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background-color: #FFF;
}